body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b8b3d1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 550px;
  height: 320px;
  background-color: white;
  border-radius: 10px;
  gap: 30px;
}

.counter {
  font-size: 70px;
  font-weight: 500;
}

.btn-container {
  display: flex;
  gap: 10px;
}

.counting-btn {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 50px;
  cursor: pointer;
}
