.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.9);
}

.title {
  padding-bottom: 50px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.card-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.card-container:hover .card-img {
  filter: brightness(50%);
  transform: scale(1.1);
}

.card-container:hover .card-title {
  transform: scale(1.1);
}

.card-container:hover .card-hover-text {
  opacity: 1;
}

.card-img {
  width: 100%;
  transition: 0.4s ease-in-out;
  transform-origin: bottom;
}

.card-hover-text {
  position: absolute;
  top: 31%;
  font-size: 28px;
  font-weight: 600;
  color: white;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #e2e2e2;
  transition: 0.4s ease-in-out;
  transform-origin: top;
  font-weight: 500;
  width: 100%;
}
